<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commuter Passes</title>

    <style>
        th, td { border: 1px solid black; padding: 10px;}
        button, input {padding: 10px;}
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }
        .tab button:hover {
            background-color: #ddd;
        }
        h1 {text-align: center;}
            

        body {
            background-color: lightblue;
            font-family: Verdana, sans-serif;
        }


        body {text-align: center;}
        table {
            margin-left: auto;
            margin-right: auto;
        }

        .container form  label {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin: 2px;
        }

        .container form  input {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin: 2px
        }

        #inputButton {
            text-align: center;
            width: 80px;
        }

        #inputButton1 {
            text-align: center;
            width: 80px;
        }

        #inputButton2 {
            text-align: center;
            width: 80px;
        }

        #dropDownLabel {
            width: 135px;
            text-align: left;
        }

        #dropDownSelect {

            text-align: right;
        }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

    <h1>Commuter Passes</h1>
    <br>


    <h2>Add a Commuter Pass</h2>

    <div class="container">
        <form id="addInputsCommuterPasses">
            <label>Passenger Email: </label>  <input type="text" name="passenger_id" placeholder="Optional (NULLable)" />    <br>
            <label>Cost Paid:    </label>  <input type="number" name="cost" />          <br>
            <label>Start Date:   </label>  <input type="date" name="start_date" />      <br>
            <label>End Date:     </label>  <input type="date" name="end_date" />        <br><br><br>
            <label id="dropDownLabel" for="trainline">Trainline Access:</label>
            <select id="dropDownSelect" name="trainline" id="trainline">
                <option value="yamanote">Yamanote Line</option>
                <option value="hibiya">Hibiya Line</option>
                <option value="ginza">Ginza Line</option>
            </select><br><br>
            <br>

            <input id="inputButton" type="submit" value="Add" />
        </form>
    </div>
    <br>
    <br>
    <br>



    <h2>List of All Active Commuter Passes (not expired) including NULL Passengers:</h2>

    <!-- <div class="container">
        <form id="searchCommuterPasses">


            <label> By Passenger's Email: </label>         <input type="number" name="passenger_id" /> <input id="inputButton1" type="submit" value="Search" /> <br>
            <label> By Commuter Pass ID: </label>         <input type="number" name="commuter_pass_id" /> <input id="inputButton2" type="submit" value="Search" />


        </form>
    </div>
    <br> -->

    <table>

        <thead>
            <tr>
                {% for key in Commuter_Passes[0].keys() %}

                    <th>{{ key }}</th>

                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for commuter_pass in Commuter_Passes %}

                <tr>
                    {% for key in commuter_pass.keys() %}

                        <td>{{commuter_pass[key]}}</td>

                    {% endfor %}
                    <td><button>Update</button></td>
                    <td><button>Delete</button></td>
                </tr>

            {% endfor %}
        </tbody>    

    </table>




    {# <table id="searchResultsCommuterPasses">
        <tr class="header">

            <th>Commuter Pass ID</th>
            <th>Cost Paid</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Trainline Access</th>
            <th>Trainline ID</th>
            <th>Passenger's Email</th>
            <th>Passenger's ID</th>
            

        </tr>


        <tr class="header" id="sampleSearchCommuterPasses">

            <td>1</td>
            <td>$100</td>
            <td>2020-01-10</td>
            <td>2021-11-11</td>
            <td>Yamanote Line</td>
            <td>1</td>
            <td>Risa_Oribe@pmail.com</td>
            <td>4</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>

        <tr class="header" id="sampleSearchCommuterPasses2">

            <td>2</td>
            <td>$90</td>
            <td>2021-01-11</td>
            <td>2021-05-25</td>
            <td>Ginza Line</td>
            <td>3</td>
            <td>Risa_Oribe@pmail.com</td>
            <td>4</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>

        <tr class="header" id="sampleSearchCommuterPasses3">

            <td>3</td>
            <td>$150</td>
            <td>2021-01-20</td>
            <td>2021-04-20</td>
            <td>Hibiya Line</td>
            <td>2</td>
            <td>Risa_Oribe@pmail.com</td>
            <td>4</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>



        <tr class="header" id="sampleSearchCommuterPasses4">

            <td>4</td>
            <td>$0</td>
            <td>2021-02-11</td>
            <td>2031-02-11</td>
            <td>Yamanote Line</td>
            <td>1</td>
            <td>NULL (Employee?)</td>
            <td>NULL</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>

        <tr class="header" id="sampleSearchCommuterPasses5">

            <td>5</td>
            <td>$0</td>
            <td>2021-02-11</td>
            <td>2031-02-11</td>
            <td>Ginza Line</td>
            <td>3</td>
            <td>NULL (Employee?)</td>
            <td>NULL</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>

        <tr class="header" id="sampleSearchCommuterPasses6">

            <td>6</td>
            <td>$0</td>
            <td>2021-01-11</td>
            <td>2021-04-11</td>
            <td>Hibiya Line</td>
            <td>2</td>
            <td>NULL (Visitor?)</td>
            <td>NULL</td>

            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>

    </table>

    <br> #}






    <script src="Commuter_Passes.js"></script>
</body>

</html>   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
