<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commuter Passes</title>

    <style>
        th, td { border: 1px solid black; padding: 10px;}
        button, input {padding: 10px;}
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }
        .tab button:hover {
            background-color: #ddd;
        }
        h1 {text-align: center;}
            

        body {
            background-color: lightblue;
            font-family: Verdana, sans-serif;
        }


        body {text-align: center;}
        table {
            margin-left: auto;
            margin-right: auto;
        }

        .container form  label {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin: 2px;
        }

        .container form  input {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin: 2px
        }

        #inputButton {
            text-align: center;
            width: 80px;
        }

        #inputButton1 {
            text-align: center;
            width: 80px;
        }

        #inputButton2 {
            text-align: center;
            width: 80px;
        }

        #dropDownLabel {
            width: 135px;
            text-align: left;
        }

        #dropDownSelect {

            text-align: right;
        }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

    <h1>Commuter Passes</h1>
    <br>


    <h2>Add a Commuter Pass</h2>

    <div class="container">

        {% block body %}
            <form id="addInputsCommuterPasses" method="POST">
                <label>Passenger Email: </label>  <input type="text" name="passenger_email" placeholder="Optional (NULLable)" />    <br>
                <label>Cost Paid:    </label>  <input type="number" name="cost" />          <br>
                <label>Start Date:   </label>  <input type="date" name="start_date" />      <br>
                <label>End Date:     </label>  <input type="date" name="end_date" />        <br><br><br>
                <label id="dropDownLabel" for="trainline">Trainline Access:</label>
                <select id="dropDownSelect" name="trainline" id="trainline">

                    {% for trainline in Commuter_Passes[1] %}
                        <option value="{{trainline.trainline_id}}">{{trainline.trainline_company}}</option>
                    {% endfor %}

                </select>
                <br><br>


                <input id="inputButton" type="submit" value="Add" />
            </form>
        {% endblock %}

    </div>
    <br>
    <br>
    <br>



    <h2>List of All Active Commuter Passes (not expired) including NULL Passengers:</h2>

    <table>

        <thead>
            <tr>
                {% for key in Commuter_Passes[0][0].keys() %}

                    <th>{{ key }}</th>

                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for commuter_pass in Commuter_Passes[0] %}

                <tr>
                    {% for key in commuter_pass.keys() %}

                        <td>{{commuter_pass[key]}}</td>

                    {% endfor %}
                    <td><button>Update</button></td>
                    <td><button>Delete</button></td>
                </tr>

            {% endfor %}
        </tbody>    

    </table>






    <script src="Commuter_Passes.js"></script>
</body>

</html>   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
