    <!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passengers</title>

    <style>
        th, td { border: 1px solid black; padding: 10px;}
        button, input {padding: 10px;}
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }
        .tab button:hover {
            background-color: #ddd;
        }
        h1, h2, h3 {text-align: center;}

        body {
            text-align: center;
            background-color: lightblue;
            font-family: Verdana, sans-serif;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }

        .container form  label {
            width: 100px;
            display: inline-block;
            text-align: left;
            margin: 2px;
        }

        .container form  input {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin: 2px
        }

        #inputButton {
            text-align: center;
            width: 80px;
        }

        

    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

    <h1>Passengers</h1>
    <br>

    <h2>Add a Passenger</h2>

    <div class="container">

        {% block body %}
            <form id="addInputsPassengers" method="POST">
                <label>First Name: </label>    <input type="text" name="first_name" />   <br>
                <label>Last Name:  </label>    <input type="text" name="last_name" />    <br>
                <label>Birthdate:  </label>    <input type="date" name="birthdate" />    <br>
                <label>Occupation: </label>    <input type="text" name="occupation" />   <br>
                <label>Email:      </label>    <input type="text" name="email" />        <br>
                <br>

                <input id="inputButton" type="submit" value="Add" />
            </form>
        {% endblock %}

    </div>
    <br>
    <br>



    <h2>Search Passengers</h2>


    {% block occupation %}
        <form id="searchPassengers" method="POST" action="/get-passengers">
            <label id="dropDownLabel" for="occupation">By Occupation:</label>
            <select id="dropDownSelect" name="occupation" id="occupation">

                {% for occupation in Passengers[1] %}
                    <option value="{{occupation.occupation}}">{{occupation.occupation}}</option>
                {% endfor %}

            </select>
            <br>
            <br>


            <input id="inputButton" type="submit" value="Search" />
        </form>
    {% endblock %}

    <br>




    {# <h3>List Passengers by Last Name (Alphabetically):</h3> #}
    <h3>Passenger's List:</h3>

    <table>

        <thead>
            <tr>
                {% for key in Passengers[0][0].keys() %}

                    <th>{{ key }}</th>

                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for passenger in Passengers[0] %}

                <tr>
                    {% for key in passenger.keys() %}

                        <td>{{passenger[key]}}</td>

                    {% endfor %}
                    <td><button>Update</button></td>
                    <td><button>Delete</button></td>
                </tr>

            {% endfor %}
        </tbody>    

    </table>







    <script src="Passengers.js"></script>
</body>
</html>

















    
    
    
