<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prefectures</title>

        <style>
            th, td { border: 1px solid black; padding: 10px;}
            button, input {padding: 10px;}
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
            h1 {text-align: center;}
                
            body {
                text-align: center;
                background-color: lightblue;
                font-family: Verdana, sans-serif;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }


        </style>
    
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

        <h1>Prefectures</h1>
        <br>
        
        <h2>Add a Prefecture in Japan</h2>

        {% block body %}
            <form id="addInputsPrefecture" method="POST">
                Prefecture Name:     <input type="text" name="prefecture" /> 
        
                <input type="submit" value="Add" />
            </form>
        {% endblock %}


        <br>
        <br>
    
    
    
    
        <h3>Participating Prefectures:</h3>

        <table>

            <thead>
                <tr>
                    {% for key in Prefectures[0][0].keys() %}

                        <th>{{ key }}</th>

                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for prefecture in Prefectures[0] %}

                    <tr>
                        {% for key in prefecture.keys() %}

                            <td>{{prefecture[key]}}</td>

                        {% endfor %}
                        <td><button>Update</button></td>
                        <td><button>Delete</button></td>
                    </tr>

                {% endfor %}
            </tbody>    

        </table>
        <br>
        <br>






    
        <h3>
            
            List all the Passengers who can come to or might have been to

            <label for="prefecture"></label>
            <select name="prefecture" id="prefecture">
              <option value="tokyo">Tokyo Prefecture</option>
              <option value="kanagawa">Kanagawa Prefecture</option>
              <option value="chiba">Chiba Prefecture</option>
              <option value="saitama">Saitama Prefecture</option>
              <option value="gunma">Gunma Prefecture</option>
              <option value="tochigi">Tochigi Prefecture</option>
              <option value="ibaraki">Ibaraki Prefecture</option>
            </select>

            via their Commuter Passes. </h3>


            <table>

                <thead>
                    <tr>
                        {% for key in Prefectures[1][0].keys() %}

                            <th>{{ key }}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for passenger in Prefectures[1] %}

                        <tr>
                            {% for key in passenger.keys() %}

                                <td>{{passenger[key]}}</td>

                            {% endfor %}
                        </tr>

                    {% endfor %}
                </tbody>    

            </table>






        <script src="Prefectures.js"></script>
</body>

</html>