<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Train Lines and Stations</title>

        <style>
            th, td { border: 1px solid black; padding: 10px;}
            button, input {padding: 10px;}
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
            h1 {text-align: center;}
                
            body {
                text-align: center;
                background-color: lightblue;
                font-family: Verdana, sans-serif;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

            .container {
                padding-left: 125px;
                padding-top: 10px;
            }

            .container label {
                width: 200px;
                display: inline-block;
                text-align: left;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            .container input {
                display: inline-block;
                text-align: left;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            h3 {
                margin-bottom: 0px;
            }

        </style>
    
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

        <h1>Train Lines and Stations</h1>
        <br>








        <h2>Trainline <-> Station</h2>


        {% block body %}
            <form id="addInputsTrainlines-Stations" method="POST">
                                
                <label for="trainline">Choose a Trainline:</label>
                <select name="trainline" id="trainline">
                <option value="yamanote">Yamanote Line</option>
                <option value="hibiya">Hibiya Line</option>
                <option value="ginza">Ginza Line</option>
                <option value="yokosuka">Yokosuka Line</option>
                <option value="tokaido">Tokaido Line</option>
                <option value="nambu">Nambu Line</option>
                <option value="narita">Narita Line</option>
                <option value="negishi">Negishi Line</option>
                <option value="ito">Ito Line</option>
                <option value="ome">Ome Line</option>
                <option value="yokohama">Yokohama Line</option>
                <option value="shonan-shinjuku">Shonan-Shinjuku Line</option>
                </select><br>


                <label for="station">Choose a Station:</label>
                <select name="station" id="station">
                <option value="maihama">Maihama Station</option>
                <option value="shinjuku">Shinjuku Station</option>
                <option value="yokohama">Yokohama Station</option>
                <option value="ikebukuro">Ikebukuro Station</option>
                <option value="tokyo">Tokyo Station</option>
                <option value="shinagawa">Shinagawa Station</option>
                <option value="shibuya">Shibuya Station</option>
                <option value="shimbashi">Shimbashi Station</option>
                <option value="omiya">Omiya Station</option>
                <option value="akihabara">Akihabara Station</option>
                <option value="kita-senju">Kita-Senju Station</option>
                </select><br><br>

                

                <input type="submit" value="Add a Relationship" />
            </form>
        {% endblock %}


        <br>
        <br>
        







    
    
        
            <form id="addInputsTrainlines_and_Stations">           
                
                <h3>Sort Table By:</h3>

                <div class="container">
                    <input type="radio" id="trainline" name="Trainline_and_Station" value="trainline">
                    <label for="trainline">Trainline</label><br>
                    <input type="radio" id="station" name="Trainline_and_Station" value="station">
                    <label for="station">Station</label><br><br>
                </div>
                
                <input type="submit" value="Sort and Show Relationship Rows" />
            </form><br>
        
        
            {# Sort by trainline #}
            <table>

                <thead>
                    <tr>
                        {% for key in Trainlines_and_Stations[0][0].keys() %}

                            <th>{{ key }}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for trainline_and_station in Trainlines_and_Stations[0] %}

                        <tr>
                            {% for key in trainline_and_station.keys() %}

                                <td>{{trainline_and_station[key]}}</td>

                            {% endfor %}
                            <td><button>Delete this Relationship</button></td>
                        </tr>

                    {% endfor %}
                </tbody>    

            </table>


            {# Sort by station #}
            <table>

                <thead>
                    <tr>
                        {% for key in Trainlines_and_Stations[1][0].keys() %}

                            <th>{{ key }}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for trainline_and_station in Trainlines_and_Stations[1] %}

                        <tr>
                            {% for key in trainline_and_station.keys() %}

                                <td>{{trainline_and_station[key]}}</td>

                            {% endfor %}
                            <td><button>Delete this Relationship</button></td>
                        </tr>

                    {% endfor %}
                </tbody>    

            </table>







        <script src="Trainlines_and_Stations.js"></script>
</body>

</html>