<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Train Lines</title>

        <style>
            th, td { border: 1px solid black; padding: 10px;}
            button, input {padding: 10px;}
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
            h1 {text-align: center;}
            
            body {
                text-align: center;
                background-color: lightblue;
                font-family: Verdana, sans-serif;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

        </style>
    
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

        <h1>Train Lines</h1>
        <br>

        <h2>Register a Company Train Line</h2>


        {% block body %}
            <form id="addInputsTrainlines" method="POST">
                Trainline Name:     <input type="text" name="trainline" />
        
                <input type="submit" value="Add" />
            </form>
        {% endblock %}

        <br>
        <br>
    
    
    
    
        <h3>Registered Trainlines and their Active Commuters:</h3>

        <table>

            <thead>
                <tr>
                    {% for key in Trainlines[0].keys() %}

                        <th>{{ key }}</th>

                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for trainline in Trainlines %}

                    <tr>
                        {% for key in trainline.keys() %}

                            <td>{{trainline[key]}}</td>

                        {% endfor %}
                        <td><button>Update</button></td>
                        <td><button>Delete</button></td>
                    </tr>

                {% endfor %}
            </tbody>    

        </table>








        <script src="Trainlines.js"></script>
</body>

</html>