<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Train Lines</title>

        <style>
            th, td { border: 1px solid black; padding: 10px;}
            button, input {padding: 10px;}
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
            h1 {text-align: center;}
            
            body {
                text-align: center;
                background-color: lightblue;
                font-family: Verdana, sans-serif;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

        </style>
    
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

        <h1>Train Lines</h1>
        <br>

        <h2>Register a Company Train Line</h2>

        <form id="addInputsTrainlines">
            Trainline Name:     <input type="text" name="trainline" />
    
            <input type="submit" value="Add" />
        </form>
        <br>
        <br>
    
    
    
    
        <h3>Registered Trainlines and their Active Commuters:</h3>

        <table>

            <thead>
                <tr>
                    {% for key in Trainlines[0].keys() %}

                        <th>{{ key }}</th>

                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for trainline in Trainlines %}

                    <tr>
                        {% for key in trainline.keys() %}

                            <td>{{trainline[key]}}</td>

                        {% endfor %}
                        <td><button>Update</button></td>
                        <td><button>Delete</button></td>
                    </tr>

                {% endfor %}
            </tbody>    

        </table>







    
        {# <table id="searchResultsTrainlines">
            <tr class="header">
    
                <th>Trainline ID</th>
                <th>Trainline Name</th>
                <th>Number of Active Commuters</th>
    
            </tr>
    
    
            <tr class="header" id="sampleSearchTrainlines">

                <td>1</td>
                <td>Yamanote Line</td>
                <td>2</td>
    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>
    
            <tr class="header" id="sampleSearchTrainlines2">
    
                <td>2</td>
                <td>Hibiya Line</td>
                <td>2</td>
    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>
    
            <tr class="header" id="sampleSearchTrainlines3">
    
                <td>3</td>
                <td>Ginza Line</td>
                <td>2</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines4">
    
                <td>4</td>
                <td>Yokosuka Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines5">
    
                <td>5</td>
                <td>Tokaido Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines6">
    
                <td>6</td>
                <td>Nambu Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines7">
    
                <td>7</td>
                <td>Narita Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines8">
    
                <td>8</td>
                <td>Negishi Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines9">
    
                <td>9</td>
                <td>Ito Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines10">
    
                <td>10</td>
                <td>Ome Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines11">
    
                <td>11</td>
                <td>Yokohama Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines12">
    
                <td>12</td>
                <td>Shonan-Shinjuku Line</td>
                <td>0</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <!-- <tr class="header" id="sampleSearchTrainlines4">
    
                <td>0004</td>
                <td>Pre-Release New Line</td>
                <td>0 or NULL</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines5">
    
                <td>0005</td>
                <td>Broken Line</td>
                <td>0 or NULL</td>

    
                <td><button>Update</button></td>
                <td><button>Delete</button></td>
    
            </tr> -->
    
        </table>
    
        <br> #}
    

        









        <script src="Trainlines.js"></script>
</body>

</html>