<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Train Lines and Stations</title>

        <style>
            th, td { border: 1px solid black; padding: 10px;}
            button, input {padding: 10px;}
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
            h1 {text-align: center;}
                
            body {
                text-align: center;
                background-color: lightblue;
                font-family: Verdana, sans-serif;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

            .container {
                padding-left: 125px;
                padding-top: 10px;
            }

            .container label {
                width: 200px;
                display: inline-block;
                text-align: left;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            .container input {
                display: inline-block;
                text-align: left;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            h3 {
                margin-bottom: 0px;
            }

        </style>
    
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>


<body>

    <div class="tab">
        <a href="/"> <button class="home">Home</button> </a>
        <a href="/passengers"> <button>Passengers</button> </a>
        <a href="/commuter-passes"> <button>Commuter Passes</button> </a>
        <a href="/trainlines"> <button>Train Lines</button> </a>
        <a href="/stations"> <button>Stations</button> </a>
        <a href="/prefectures"> <button>Prefectures</button> </a>
        <a href="/trainlines-and-stations"> <button>Trainlines and Stations</button> </a>
    </div>

        <h1>Train Lines and Stations</h1>
        <br>








        <h2>Trainline <-> Station</h2>


        <form id="addInputsTrainlines-Stations">
                             
            <label for="trainline">Choose a Trainline:</label>
            <select name="trainline" id="trainline">
              <option value="yamanote">Yamanote Line</option>
              <option value="hibiya">Hibiya Line</option>
              <option value="ginza">Ginza Line</option>
              <option value="yokosuka">Yokosuka Line</option>
              <option value="tokaido">Tokaido Line</option>
              <option value="nambu">Nambu Line</option>
              <option value="narita">Narita Line</option>
              <option value="negishi">Negishi Line</option>
              <option value="ito">Ito Line</option>
              <option value="ome">Ome Line</option>
              <option value="yokohama">Yokohama Line</option>
              <option value="shonan-shinjuku">Shonan-Shinjuku Line</option>
            </select><br>


            <label for="station">Choose a Station:</label>
            <select name="station" id="station">
              <option value="maihama">Maihama Station</option>
              <option value="shinjuku">Shinjuku Station</option>
              <option value="yokohama">Yokohama Station</option>
              <option value="ikebukuro">Ikebukuro Station</option>
              <option value="tokyo">Tokyo Station</option>
              <option value="shinagawa">Shinagawa Station</option>
              <option value="shibuya">Shibuya Station</option>
              <option value="shimbashi">Shimbashi Station</option>
              <option value="omiya">Omiya Station</option>
              <option value="akihabara">Akihabara Station</option>
              <option value="kita-senju">Kita-Senju Station</option>
            </select><br><br>

            

            <input type="submit" value="Add a Relationship" />
        </form>
        <br>
        <br>
        

        <!-- <h2>Trainline -> Stations</h2>

        <form id="addInputsTrainlines">
                             
            <label for="trainline">Choose a Trainline:</label>
            <select name="trainline" id="trainline">
              <option value="yamanote">Yamanote Line</option>
              <option value="hibiya">Hibiya Line</option>
              <option value="ginza">Ginza Line</option>
              <option value="yokosuka">Yokosuka Line</option>
              <option value="tokaido">Tokaido Line</option>
              <option value="nambu">Nambu Line</option>
              <option value="narita">Narita Line</option>
              <option value="negishi">Negishi Line</option>
              <option value="ito">Ito Line</option>
              <option value="ome">Ome Line</option>
              <option value="yokohama">Yokohama Line</option>
              <option value="shonan-shinjuku">Shonan-Shinjuku Line</option>
            </select><br><br>


            <u>Add  Station Stops:</u> <br>

            <div class="container">
                <input type="checkbox" id="maihama" name="maihama" value="maihama">
                <label for="maihama"> Maihama Station</label><br>

                <input type="checkbox" id="shinjuku" name="shinjuku" value="shinjuku">
                <label for="shinjuku"> Shinjuku Station</label><br>

                <input type="checkbox" id="yokohama" name="yokohama" value="yokohama">
                <label for="yokohama"> Yokohama Station</label><br>

                <input type="checkbox" id=ikebukuro" name=ikebukuro" value=ikebukuro">
                <label for="ikebukuro"> Ikebukuro Station</label><br>

                <input type="checkbox" id="tokyo" name="tokyo" value="tokyo">
                <label for="tokyo"> Tokyo Station</label><br>

                <input type="checkbox" id="Shinagawa" name="Shinagawa" value="Shinagawa">
                <label for="Shinagawa"> Shinagawa Station</label><br>

                <input type="checkbox" id="shibuya" name="shibuya" value="shibuya">
                <label for="shibuya"> Shibuya Station</label><br>

                <input type="checkbox" id="shimbashi" name="shimbashi" value="shimbashi">
                <label for="shimbashi"> Shimbashi Station</label><br>

                <input type="checkbox" id="omiya" name="omiya" value="omiya">
                <label for="omiya"> Omiya Station</label><br>

                <input type="checkbox" id="akihabara" name="akihabara" value="akihabara">
                <label for="akihabara"> Akihabara Station</label><br>

                <input type="checkbox" id="kita-senju" name="kita-senju" value="kita-senju">
                <label for="kita-senju"> Kita-Senju Station</label><br>
                <br>
            </div>

            <input type="submit" value="Add a Relationship" />
        </form>
        <br>
        <br>





        <h2>Station -> Trainlines</h2>

        <form id="addInputsStations">
                             
            <label for="station">Choose a Station:</label>
            <select name="station" id="station">
              <option value="maihama">Maihama Station</option>
              <option value="shinjuku">Shinjuku Station</option>
              <option value="yokohama">Yokohama Station</option>
              <option value="ikebukuro">Ikebukuro Station</option>
              <option value="tokyo">Tokyo Station</option>
              <option value="shinagawa">Shinagawa Station</option>
              <option value="shibuya">Shibuya Station</option>
              <option value="shimbashi">Shimbashi Station</option>
              <option value="omiya">Omiya Station</option>
              <option value="akihabara">Akihabara Station</option>
              <option value="kita-senju">Kita-Senju Station</option>
            </select><br><br>


            <u>Add Trainlines:</u> <br>

            <div class="container">
                <input type="checkbox" id="yamanote" name="yamanote" value="yamanote">
                <label for="yamanote"> Yamanote Line</label><br>

                <input type="checkbox" id="hibiya" name="hibiya" value="hibiya">
                <label for="hibiya"> Hibiya Line</label><br>

                <input type="checkbox" id="ginza" name="ginza" value="ginza">
                <label for="ginza"> Ginza Line</label><br>

                <input type="checkbox" id="yokosuka" name="yokosuka" value="yokosuka">
                <label for="yokosuka"> Yokosuka Line</label><br>

                <input type="checkbox" id="tokaido" name="tokaido" value="tokaido">
                <label for="tokaido"> Tokaido Line</label><br>

                <input type="checkbox" id="nambu" name="nambu" value="nambu">
                <label for="nambu"> Nambu Line</label><br>

                <input type="checkbox" id="narita" name="narita" value="narita">
                <label for="narita"> Narita Line</label><br>

                <input type="checkbox" id="negishi" name="negishi" value="negishi">
                <label for="negishi"> Negishi Line</label><br>

                <input type="checkbox" id="ito" name="ito" value="ito">
                <label for="ito"> Ito Line</label><br>

                <input type="checkbox" id="ome" name="ome" value="ome">
                <label for="ome"> Ome Line</label><br>

                <input type="checkbox" id="yokohama" name="yokohama" value="yokohama">
                <label for="yokohama"> Yokohama Line</label><br>

                <input type="checkbox" id="shonan-shinjuku" name="shonan-shinjuku" value="shonan-shinjuku">
                <label for="shonan-shinjuku"> Shonan-Shinjuku Line</label><br>
                <br>
            </div>
    
            <input type="submit" value="Add a Relationship" />
        </form>
        <br>
        <br>
        <br>
        <br> -->


    
    
    
    
        
            <form id="addInputsTrainlines_and_Stations">           
                
                <h3>Sort Table By:</h3>

                <div class="container">
                    <input type="radio" id="trainline" name="Trainline_and_Station" value="trainline">
                    <label for="trainline">Trainline</label><br>
                    <input type="radio" id="station" name="Trainline_and_Station" value="station">
                    <label for="station">Station</label><br><br>
                </div>
                
                <input type="submit" value="Sort and Show Relationship Rows" />
            </form><br>
        
        
            {# Sort by trainline #}
            <table>

                <thead>
                    <tr>
                        {% for key in Trainlines_and_Stations[0][0].keys() %}

                            <th>{{ key }}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for trainline_and_station in Trainlines_and_Stations[0] %}

                        <tr>
                            {% for key in trainline_and_station.keys() %}

                                <td>{{trainline_and_station[key]}}</td>

                            {% endfor %}
                            <td><button>Delete this Relationship</button></td>
                        </tr>

                    {% endfor %}
                </tbody>    

            </table>


            {# Sort by station #}
            <table>

                <thead>
                    <tr>
                        {% for key in Trainlines_and_Stations[1][0].keys() %}

                            <th>{{ key }}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for trainline_and_station in Trainlines_and_Stations[1] %}

                        <tr>
                            {% for key in trainline_and_station.keys() %}

                                <td>{{trainline_and_station[key]}}</td>

                            {% endfor %}
                            <td><button>Delete this Relationship</button></td>
                        </tr>

                    {% endfor %}
                </tbody>    

            </table>








    
        {# <table id="searchResultsTrainlines_and_Stations">
            <tr class="header">
    
                <th>Trainline ID</th>
                <th>Trainline Name</th>
                <th> Station Name</th>
                <th>Station ID</th>
    
            </tr>



    
    
            <tr class="header" id="sampleSearchTrainlines_and_Stations">

                <td>1</td>
                <td>Yamanote Line</td>
                <td>Tokyo Station</td>
                <td>5</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>
    
            <tr class="header" id="sampleSearchTrainlines_and_Stations2">
    
                <td>4</td>
                <td>Yokosuko Line</td>
                <td>Yokohama Station</td>
                <td>3</td>


                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines_and_Stations3">
    
                <td>7</td>
                <td>Narita Line</td>
                <td>Shinagawa Station</td>
                <td>6</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>
    
            <tr class="header" id="sampleSearchTrainlines_and_Stations4">
    
                <td>12</td>
                <td>Shonan-Shinjuku Line</td>
                <td>Shimbashi Station</td>
                <td>8</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr> #}

            <!-- <tr class="header" id="sampleSearchTrainlines_and_Stations5">
    
                <td>0002</td>
                <td>Hibiya Line</td>
                <td>Akihabara station</td>
                <td>0001</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines_and_Stations6">
    
                <td>0002</td>
                <td>Hibiya Line</td>
                <td>Ebisu station</td>
                <td>0002</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines_and_Stations7">
    
                <td>0002</td>
                <td>Hibiya Line</td>
                <td>Roppongi station</td>
                <td>0004</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines_and_Stations8">
    
                <td>0003</td>
                <td>Ginza Line</td>
                <td>Shibuya station</td>
                <td>0005</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr>

            <tr class="header" id="sampleSearchTrainlines_and_Stations9">
    
                <td>0003</td>
                <td>Ginza Line</td>
                <td>Ueno station</td>
                <td>0008</td>

    
                 
                <td><button>Delete this Relationship</button></td>
    
            </tr> -->





        </table>
    
        <br>
    










        <script src="Trainlines_and_Stations.js"></script>
</body>

</html>